/*CSS Document*/

h1{
	delcaration;
	declaration;
	porterty: value;
	color: rgb(0,0,244);
	font-size: 3em;
	font-family: serif;
	text-align: center;
}
h2{
	color: black;
	background:rgb(100,100,1000);
}
/*li{
	list-style: none;
}

ul{
	padding: 0;
}
